In [1]:
import pandas as pd
import numpy as np
#读入数据
df = pd.read_csv("./HR.csv")
df.head()

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [32]:
type(df)

pandas.core.frame.DataFrame

In [63]:
type(df['satisfaction_level'])

pandas.core.series.Series

# 集中趋势

In [14]:
#DataFrame和Series这两种数据结构的操作共用，形式相同
df.mean()

satisfaction_level         0.612839
last_evaluation           67.373732
number_project             3.802693
average_monthly_hours    201.041728
time_spend_company         3.498067
Work_accident              0.144581
left                       0.238235
promotion_last_5years      0.021264
dtype: float64

In [16]:
#返回的类型是Series
type(df.mean())

pandas.core.series.Series

In [18]:
#用Series直接求均值,得到一个值
df["satisfaction_level"].mean()

0.6128393333333343

In [19]:
#求中位数
df["satisfaction_level"].median()

0.64

In [21]:
#求四分位数
df.quantile(q=0.25)

satisfaction_level         0.44
last_evaluation            0.56
number_project             3.00
average_monthly_hours    156.00
time_spend_company         3.00
Work_accident              0.00
left                       0.00
promotion_last_5years      0.00
Name: 0.25, dtype: float64

In [24]:
#Series求分位数
df["satisfaction_level"].quantile(q=0.25)

0.44

In [28]:
#众数
df.mode()

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.1,0.55,4.0,135,3.0,0.0,0.0,0.0,sales,low
1,NaN,NaN,NaN,156,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df["satisfaction_level"].mode()

0    0.1
dtype: float64

In [34]:
df["department"].mode()

0    sales
dtype: object

In [36]:
type(df["department"].mode())

pandas.core.series.Series

# 离中趋势

In [37]:
#标准差
df.std()

satisfaction_level          0.248623
last_evaluation          8164.407524
number_project              1.232733
average_monthly_hours      49.941815
time_spend_company          1.460053
Work_accident               0.351689
left                        0.426018
promotion_last_5years       0.144267
dtype: float64

In [39]:
df["satisfaction_level"].std()

0.24862338135945417

In [41]:
#方差
df.var()

satisfaction_level       6.181359e-02
last_evaluation          6.665755e+07
number_project           1.519630e+00
average_monthly_hours    2.494185e+03
time_spend_company       2.131754e+00
Work_accident            1.236854e-01
left                     1.814911e-01
promotion_last_5years    2.081307e-02
dtype: float64

In [42]:
df["satisfaction_level"].var(0)

0.06181358575860858

In [46]:
#求和
#注：离散数据求和直接把它连起来
df.sum()

satisfaction_level                                                 9192.59
last_evaluation                                                1.01074e+06
number_project                                                       57048
average_monthly_hours                                              3016028
time_spend_company                                                   52478
Work_accident                                                         2169
left                                                                  3574
promotion_last_5years                                                  319
department               salessalessalessalessalessalessalessalessaless...
salary                   lowmediummediumlowlowlowlowlowlowlowlowlowlowl...
dtype: object

In [47]:
df["satisfaction_level"].sum()

9192.59

In [49]:
#偏态系数
df.skew()

satisfaction_level        -0.476438
last_evaluation          122.482652
number_project             0.337774
average_monthly_hours      0.053225
time_spend_company         1.853530
Work_accident              2.021481
left                       1.229057
promotion_last_5years      6.637677
dtype: float64

In [52]:
#偏态值是负的，说明平均值偏小，大部分值大于平均值
#说明大多数人处于比较满意的状态
df["satisfaction_level"].skew()

-0.47643761717258093

In [54]:
#峰度系数
df.kurt()

satisfaction_level          -0.670696
last_evaluation          15001.999987
number_project              -0.495810
average_monthly_hours       -1.135016
time_spend_company           4.774353
Work_accident                2.086664
left                        -0.489485
promotion_last_5years       42.064357
dtype: float64

In [61]:
df["satisfaction_level"].kurt()
#-0.67比正态分布稍微平缓一些

-0.6706959323886252

# 生成分布函数（正态分布、卡方、t）

In [58]:
import scipy.stats as ss
ss.norm

In [60]:
# 我们看下norm的性质
# m:均值  v:方差  s:偏态系数   k:峰态系数
# 所以结果返回四个值
ss.norm.stats(moments="mvsk")

(array(0.), array(1.), array(0.), array(0.))

### 这个分布有以下几个主要操作：

In [65]:
# 指定分布的横坐标，返回纵坐标的值
ss.norm.pdf(0.0)

0.3989422804014327

In [66]:
#输入的值必须是0-1之间的，返回的是累积值
#返回的是从负无穷到1.28155156累计值是0.9，我们知道从负无穷到正无穷的积分是1
ss.norm.ppf(0.9)

1.2815515655446004

In [67]:
#返回的是从负无穷一直累积到2的概率
ss.norm.cdf(2)

0.9772498680518208

In [69]:
#正两倍的标准差减去负两倍的标准差的累积概率
ss.norm.cdf(2)-ss.norm.cdf(-2)

0.9544997361036416

In [71]:
#产生正态分布的数量,指定size，就得到多少个符合正态分布的数
ss.norm.rvs(size=10)

array([-1.55546873, -0.30689596, -0.83207228, -2.09051166, -1.76306862,
       -1.9832968 , -0.01576651, -0.30696421,  1.36216448, -0.58080429])

In [73]:
# 卡方分布
ss.chi2

In [74]:
# t分布
ss.t

In [75]:
# f分布
ss.f

 ### 注：各种分布的操作同正态分布

# 抽样

In [77]:
# 抽10个样本
df.sample(n=10)

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
11561,0.73,0.56,3,245,8,0,0,0,sales,medium
4313,0.69,0.59,4,266,4,0,0,0,technical,medium
3097,0.73,0.71,3,210,3,0,0,0,technical,low
6356,0.40,0.72,3,204,4,1,0,0,sales,low
403,0.92,0.93,5,240,5,0,1,0,sales,low
9987,0.79,0.88,3,195,4,0,0,0,IT,low
9622,0.80,0.70,3,238,2,0,0,0,technical,medium
5411,0.20,0.51,2,163,2,0,0,0,product_mng,low
7410,0.21,0.81,4,227,5,0,0,0,marketing,medium
10832,0.47,0.53,3,111,4,0,0,0,RandD,medium

In [78]:
# 抽取指定百分比的样本
df.sample(frac=0.001)

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
9764,0.66,0.89,3,242,3,0,0,0,product_mng,medium
10965,0.66,0.89,4,169,4,0,0,0,support,low
11172,0.67,0.52,4,207,3,0,0,0,IT,medium
5242,0.76,0.47,3,223,2,0,0,0,support,medium
12264,0.42,0.50,2,139,3,0,1,0,hr,medium
4261,0.91,0.68,4,187,2,0,0,0,IT,low
14340,0.37,0.45,2,151,3,0,1,0,support,low
2558,0.53,0.73,4,248,2,0,0,0,technical,medium
4499,0.94,0.80,5,111,4,0,0,1,RandD,medium
707,0.79,0.91,5,271,5,0,1,0,sales,low
6235,0.79,0.88,4,188,3,0,0,0,support,low
9376,0.60,0.91,4,185,3,1,0,0,product_mng,low
10196,0.93,0.81,3,212,3,0,0,0,technical,medium
9921,0.23,0.74,5,120,4,0,0,0,accounting,high
6933,0.87,0.97,4,160,3,0,0,0,IT,low

In [79]:
# Series也可以抽样
df["satisfaction_level"].sample(n=10)

13412    0.53
248      0.87
2860     0.99
12456    0.86
980      0.45
9163     0.79
6153     0.65
13677    0.68
8485     0.70
5730     0.90
Name: satisfaction_level, dtype: float64